{% load static %}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vytvořit test</title>
    <link rel="stylesheet" href="{% static 'style/style_test.css' %}?v=1.0">
</head>
<body>

    <!-- Sekce pro vytvoření testu -->
    <div id="createTestSection" class="container">
   
         <!-- Blok pro další obsah -->
    {% block content %}
        
    {% endblock %}

        <div class="results" id="resultsSection" style="display:none;">
            <h2>Výsledky testu</h2>
            <p id="scoreDisplay"></p>
            <p id="gradeDisplay"></p>
            <p id="percentageDisplay"></p>
            <p id="correctAnswersDisplay"></p>
            <p id="partiallyCorrectDisplay"></p>
            <p id="wrongAnswersDisplay"></p>
        </div>
    </div>
</body>
</html>


