{% load static %}


<header>
    <a href="{% url 'hlavni_stranka' %}"> <!-- Zde vložte URL na domovskou stránku nebo na požadovaný odkaz -->
        <img class="logo" src="{% static 'obrazky/logoRevas.png' %}" alt="Logo" width="100">
    </a>
    <div class="nav-links">
        <a href="{% url 'testy' %}">Vědomostní Testy</a>
        <a href="{% url 'herni_testy' %}">Herní testy</a>
        <a href="{% url 'herni_testy_procvicovaci' %}">Herní testy k procvičování</a>
        <a href="{% url 'zapisnik' %}">Zápisník</a>
        <a href="{% url 'otazky' %}">Návod</a>
    </div>
    <div class="icons">
        <a class="icon-button" href="{% url 'spravy' %}">💬</a>
        <a class="icon-button" href="{% url 'profil' %}">P</a>
    </div>
</header>

