{% load static %}

<div class="left-sidebar">
    <div class="table">
        <h2>Sveřejněné</h2>
        <ul>
            <a><div class="content">
                        <h2>Název testu</h2>
                        <button class="try-button">Podívat se</button>
                    </div>
                </a>
            <a><div class="content">
                        <h2>Název testu</h2>
                        <button class="try-button">Podívat se</button>
                    </div>
                </a>
            <a><div class="content">
                        <h2>Název testu</h2>
                        <button class="try-button">Podívat se</button>
                    </div>
                </a>
        </ul>
    </div>
    <div class="table">
        <h2>Historie</h2>
        <ul>
           <a><div class="content">
                        <h2>Název testu</h2>
                        <button class="try-button">Podívat se</button>
                    </div>
                </a>
            <a><div class="content">
                        <h2>Název testu</h2>
                        <button class="try-button">Podívat se</button>
                    </div>
                </a>
            <a><div class="content">
                        <h2>Název testu</h2>
                        <button class="try-button">Podívat se</button>
                    </div>
                </a>
        </ul>
    </div>
    <div class="table">
        <h2>Vaše vyrobené</h2>
        <ul>
            <a><div class="content">
                        <h2>Název testu</h2>
                        <button class="try-button">Podívat se</button>
                    </div>
                </a>
            <a><div class="content">
                        <h2>Název testu</h2>
                        <button class="try-button">Podívat se</button>
                    </div>
                </a>
            <a><div class="content">
                        <h2>Název testu</h2>
                        <button class="try-button">Podívat se</button>
                    </div>
                </a>
        </ul>
    </div>
</div>
