{% load static %}

<div class="left-sidebar">
    <div class="table">
        <h2>Skupiny</h2>
        <ul>
            <li><a href="#">Skupina 1</a></li>
            <li><a href="#">Skupina 2</a></li>
            <li><a href="#">Skupina 3</a></li>
        </ul>
    </div>
    <div class="table">
        <h2>Historie</h2>
        <ul>
            <li><a href="#">Historie 1</a></li>
            <li><a href="#">Historie 2</a></li>
            <li><a href="#">Historie 3</a></li>
        </ul>
    </div>
    <div class="table">
        <h2>Vaše vyrobené</h2>
        <ul>
            <li><a href="#">Vyrobený test 1</a></li>
            <li><a href="#">Vyrobený test 2</a></li>
            <li><a href="#">Vyrobený test 3</a></li>
        </ul>
    </div>
</div>
