{% load static %}

<div class="left-sidebar">
    <div class="table">
        <h2>Doporučujeme vyzkoušet z testů</h2>
        <ul>
            <a><div class="content">
                        <h2>Rozhodovací test</h2>
                        <a href="{% url 'herni_testy_procvicovaci' %}" class="btn btn-primary try-button">Podívat se</a>

                    </div>
                </a>
            <a><div class="content">
                        <h2>Ano, ne test</h2>
                        <a href="{% url 'herni_testy_procvicovaci' %}" class="btn btn-primary try-button">Podívat se</a>

                    </div>
                </a>
            <a><div class="content">
                        <h2>NPsací test</h2>
                        <a href="{% url 'herni_testy_procvicovaci' %}" class="btn btn-primary try-button">Podívat se</a>

                    </div>
                </a>
        </ul>
    </div>
    <div class="table">
        <h2>Doporučujeme vyzkoušet z herních testů</h2>
        <ul>
           <a><div class="content">
                        <h2>Pexeso</h2>
                        <a href="{% url 'herni_testy_procvicovaci' %}" class="btn btn-primary try-button">Podívat se</a>

                    </div>
                </a>
            <a><div class="content">
                        <h2>Oběšenec</h2>
                        <a href="{% url 'herni_testy_procvicovaci' %}" class="btn btn-primary try-button">Podívat se</a>

                    </div>
                </a>
            <a><div class="content">
                        <h2>Dveře hra</h2>
                        <a href="{% url 'herni_testy_procvicovaci' %}" class="btn btn-primary try-button">Podívat se</a>

                    </div>
                </a>
        </ul>
    </div>
    <div class="table">
        <h2>Doporučujeme z herních testů pro procvičování</h2>
        <ul>
            <a><div class="content">
                        <h2>Miny</h2>
                        <a href="{% url 'herni_testy_procvicovaci' %}" class="btn btn-primary try-button">Podívat se</a>
                    </div>
                </a>
            <a><div class="content">
                        <h2>Flappy bird</h2>
                        <a href="{% url 'herni_testy_procvicovaci' %}" class="btn btn-primary try-button">Podívat se</a>

                    </div>
                </a>
            <a><div class="content">
                        <h2>Tetris</h2>
                        <a href="{% url 'herni_testy_procvicovaci' %}" class="btn btn-primary try-button">Podívat se</a>

                
                    </div>
                </a>
        </ul>
    </div>
</div>
