{% extends "vyber_testy.html" %}

{% load static %}

{% block title %}Ano/Ne test{% endblock %}

{% block extra_head %}
<script src="{% static 'js/ano_ne.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Vytvořit Ano/Ne test</h1>
    <h2>Popisek k testu</h2>

    <!-- Název testu -->
    <div class="test-name">
        <label for="testName">Název testu:</label>
        <input type="text" id="testName" placeholder="Zadejte název testu" required>
    </div>

    <!-- Popis testu -->
    <label for="testDescription">Popis testu:</label>
    <textarea id="testDescription" placeholder="Zadejte popis testu"></textarea>

    <!-- Tvorba otázek -->
    <h2>Otázky Ano/Ne</h2>
    <form id="testForm">
        <div id="questionsContainer"></div>
        <button type="button" class="add-question-btn" onclick="addAnoNeQuestion()">Přidat otázku</button>
    </form>

    <!-- Náhled testu -->
    <div id="previewTest" class="test-section" style="display:none;">
        <h2>Náhled testu</h2>
        <div id="testContent"></div>
    </div>
</div>
{% endblock %}