<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přihlášení přes GitHub</title>

    <!-- Načítání externího CSS souboru -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/moodle.css' %}">
</head>
<body>

<div class="login-container">
    <h2>Přihlášení přes GitHub</h2>

    <!-- Tlačítko pro přihlášení přes GitHub -->
    <button class="github-btn" onclick="window.location.href='{% url 'social:begin' 'github' %}'">Přihlásit se přes GitHub</button>

    <p><a href="{% url 'login' %}">Přihlaste se zde</a> /t /t /t /t /t /t /t <a href="{% url 'register' %}">Zaregistrujte se zde</a></p>
</div>

</body>
</html>
