<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přihlášení přes Google</title>

    <!-- Načítání externího CSS souboru -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/google.css' %}">
</head>
<body>

<div class="login-container">
    <h2>Přihlášení přes Google</h2>

    <!-- Tlačítko pro přihlášení přes Google -->
    <button class="google-btn" onclick="window.location.href='https://accounts.google.com/o/oauth2/v2/auth?client_id=YOUR_CLIENT_ID&redirect_uri=YOUR_REDIRECT_URI&response_type=code&scope=openid%20profile%20email'">Přihlásit se přes Google</button>

    <p><a href="{% url 'login' %}">Přihlaste se zde</a> /t /t /t /t /t /t /t <a href="{% url 'register' %}">Zaregistrujte se zde</a></p>
</div>

</body>
</html>
