{% extends "struktura/base.html" %}

{% block title %}
Moje konkrétní stránka
{% endblock %}

{% block content %}

<div class="card-section">
    <div class="card" id="card-1">
        <h3>Level 1</h3>
        <p>Cena: $5</p>
        <button class="button" onclick="addToCart('Level 1', 5)">Více</button>
        <button class="button buy-button" onclick="addToCart('Level 1', 5)">Koupit</button>
    </div>

    <div class="card" id="card-2">
        <h3>Level 2</h3>
        <p>Cena: $10</p>
        <button class="button" onclick="addToCart('Level 2', 10)">Více</button>
        <button class="button buy-button" onclick="addToCart('Level 2', 10)">Koupit</button>
    </div>

    <div class="card" id="card-3">
        <h3>Level 3</h3>
        <p>Cena: $15</p>
        <button class="button" onclick="addToCart('Level 3', 15)">Více</button>
        <button class="button buy-button" onclick="addToCart('Level 3', 15)">Koupit</button>
    </div>

    <div class="card" id="card-4">
        <h3>Učitel</h3>
        <p>Cena: $20</p>
        <button class="button" onclick="addToCart('Učitel', 20)">Více</button>
        <button class="button buy-button" onclick="addToCart('Učitel', 20)">Koupit</button>
    </div>
</div>

<div class="cart">
    <h3>Košík</h3>
    <div class="cart-items" id="cart-items"></div>
    <p id="total-price">Celková cena: $0</p>
    <button class="button" id="checkout-button" onclick="checkout()">Pokračovat k platbě</button>
</div>

{% endblock %}
