<!DOCTYPE html>
<html lang="cs">
<head>

     {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hlavní stránka</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Pozadí -->
    <div class="background-image"></div>

    <!-- Kontejner pro obsah stránky -->
    <div class="content-container">
        <!-- Logo -->
        <img src="{% static 'images/logo.png' %}" alt="Logo aplikace" class="app-logo">

        <!-- Tabulka s tlačítky -->
        <div class="button-table">
            <button onclick="location.href='{% url 'page1' %}'">Tlačítko 1</button>
            <button onclick="location.href='{% url 'page2' %}'">Tlačítko 2</button>
            <button onclick="location.href='{% url 'page3' %}'">Tlačítko 3</button>
            <button onclick="location.href='{% url 'page4' %}'">Tlačítko 4</button>
        </div>
    </div>
</body>
</html>