{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REVAS - Animace a přihlášení</title>
    <link rel="stylesheet" href="{% static 'style/uvod.css' %}?v=1.0">
<script src="{% static 'js/pozadi.js' %}"></script>
</head>
<body>
    <div class="content-container">
  <div class="drawing-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 600">
        <!-- Text REVAS ve velké velikosti, černý a blikající -->
        <text class="blinking-text" x="50%" y="50%" text-anchor="middle" fill="black" font-size="350" font-weight="bold" dy=".3em">REVAS</text>
    </svg>
</div>



        <!-- Tabulka s tlačítky -->
        <div class="button-table">
            <button onclick="window.location.href='/login'">Přihlásit se</button>
            <button onclick="window.location.href='/register'">Registrace</button>
            <button onclick="window.location.href='/google_log'">Přihlášení přes Google</button>
            <button onclick="window.location.href='/github_log'">Přihlášení přes Github</button>
        </div>
    </div>

    <!-- Patička -->
    <div class="footer">
        <p>&copy; 2024 REVAS | Made with ❤️ by <a href="#">Your Name</a></p>
    </div>


</body>
</html>