{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přihlášení do Moodle</title>

    <!-- Načítání externího CSS souboru -->
    <link rel="stylesheet" href="{% static 'style/moodle.css' %}">
</head>
<body>

<div class="login-container">
    <h2>Přihlášení do Moodle</h2>

    <!-- Tlačítko pro přihlášení přes Moodle -->
    <button class="login-btn" onclick="window.location.href='{% url 'social:begin' 'moodle' %}'">Přihlásit se přes Moodle</button>

     <p><a href="{% url 'login' %}">Přihlaste se zde</a> /t /t /t /t /t /t /t <a href="{% url 'register' %}">Zaregistrujte se zde</a></p>
</div>

</body>
</html>
