

{% extends "struktura/base.html" %}

{% block title %}
Moje konkrétní stránka
{% endblock %}
<h1>Osobní údaje</h1>
    Profil
{% block content %}
    <h1>Osobní údaje</h1>

<div class="info-box">
    <h2>Profil</h2>
    <p><strong>Jméno:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Heslo:</strong> ********</p>
</div>

<p><a href="{% url 'edit_profile' %}">Upravit profil</a></p>

<div class="info-box">
    <h1>Statistiky</h1>
    <p><strong>Počet vyrobených testů:</strong> {{ user_stats.total_tests_created }}</p>

    <h2>Statistiky podle typu testu:</h2>
    <ul>
        {% for test_type in test_types %}
        <li>
            
        </li>
        {% endfor %}
    </ul>
</div>

    

            <div class="info-box">
                <h1>Uložené testy</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Název testu</th>
                            <th>Typ</th>
                            <th>Čas provedení</th>
                            <th>Body</th>
                            <th>Známka</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Test 1</td>
                            <td>Typ testů jako z herních testů nebo testů</td>
                            <td>14:30, 15. 11. 2024</td>
                            <td>85</td>
                            <td>ano/ne</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
    <div class="info-box">
                <h1>Sveřejněné testy</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Název testu</th>
                            <th>Typ</th>
                            <th>Čas provedení</th>
                            <th>Body</th>
                            <th>Známka</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Test 1</td>
                            <td>Typ testů jako z herních testů nebo testů</td>
                            <td>14:30, 15. 11. 2024</td>
                            <td>85</td>
                            <td>ano/ne</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="info-box">
                <h1>Historie testů</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Název testu</th>
                            <th>Typ</th>
                            <th>Čas provedení</th>
                            <th>Body</th>
                            <th>Známka</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Test A</td>
                            <td>Typ testů jako z herních testů nebo testů</td>
                            <td>10:00, 12. 11. 2024</td>
                            <td>92</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>


{% endblock %}