{% extends 'struktura/base.html' %}

{% block content %}
    <!-- Obsah profilu -->
    <div class="profile-container">
        <div class="row">
            <!-- Levý panel -->
            <div class="col-lg-3 col-md-4 col-sm-12 bg-light p-3">
                {% include 'struktura/tabulky.html' %}
            </div>

            <!-- Obsah profilu -->
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="info-box">
                    <h1 class="main-title">Osobní údaje</h1>
                    <h2>Profil</h2>
                    <p><strong>Jméno:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Heslo:</strong> ********</p>
                    
                    <!-- Přidání tlačítka pro odhlášení -->
                    <p>
                        <a href="{% url 'logout' %}" class="btn btn-danger">Odhlásit se</a>
                        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Upravit profil</a>

                    </p>
                </div>

          
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



