{% extends "struktura/base.html" %}

{% block title %}
Moje konkrétní stránka
{% endblock %}

{% block content %}

<h1>Osobní údaje</h1>

            <div class="info-box">
                <h2>Profil</h2>
                <p><strong>Logo:</strong> [Logo zde]</p>
                <p><strong>Jméno:</strong> Jan</p>
                <p><strong>Příjmení:</strong> Novák</p>
                <p><strong>Věk:</strong> 25</p>
                <p><strong>Email:</strong> jan.novak@example.com</p>
                <p><strong>Heslo:</strong> ********</p>
            </div>

            <div class="info-box">
                <h2>Uložené testy</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Název testu</th>
                            <th>Typ</th>
                            <th>Čas provedení</th>
                            <th>Body</th>
                            <th>Známka</th>
                            <th>Mód</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Test 1</td>
                            <td>Typ testů jako z herních testů nebo testů</td>
                            <td>14:30, 15. 11. 2024</td>
                            <td>85</td>
                            <td>ano/ne</td>
                            <td>soukromí/veřejný</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="info-box">
                <h2>Historie testů</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Název testu</th>
                            <th>Typ</th>
                            <th>Čas provedení</th>
                            <th>Body</th>
                            <th>Známka</th>
                            <th>Mód</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Test A</td>
                            <td>Typ testů jako z herních testů nebo testů</td>
                            <td>10:00, 12. 11. 2024</td>
                            <td>92</td>
                            <td>1</td>
                            <td>soukromí/veřejný</td>
                        </tr>
                    </tbody>
                </table>
            </div>


{% endblock %}