{% extends 'struktura/base.html' %}

{% block title %}Chat{% endblock %}

{% block content %}
<div class="message-board-container">
    <h2>Chat</h2>

    <!-- Kontejner pro zprávy s posuvníkem -->
    <div class="message-board">
        {% for message in messages %}
            <div class="message">
                <div class="user">{{ message.sender.username }}</div>
                <div class="time">{{ message.timestamp|date:"H:i" }}</div>
                <p>{{ message.text }}</p>
            </div>
        {% empty %}
            <p>Žádné zprávy k zobrazení.</p>
        {% endfor %}
    </div>
</div>

<!-- Formulář pro odeslání zprávy -->
<div class="form-container">
    <h3>Napište zprávu</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Odeslat zprávu</button>
    </form>
</div>
{% endblock %}
