{% extends "struktura/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'style/styles.css' %}">
  <div class="container">
    <div class="row">
        <!-- Levý sloupec -->
        <div class="col-lg-6 col-md-12">
            <div class="test-category">
                <h1>Testy</h1>
                <h1>Rozhodovačka</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/fVVu.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/vyber_testy">Vytvořit</a>
               
                <h1>Ano nebo ne</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/E8Bj.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/ano_ne">Vytvořit</a>
                
                <h1>Psaci</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/ekMM.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/psaci_testy">Vytvořit</a>
                
                <h1>Programovaci test</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/RcCf.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/programovaci_test">Vytvořit</a>

            <h1>Spojovačka</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/GKha.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/spojovacka">Vytvořit</a>

            <h1>Tabulka</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/NfQX.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/tabulka">Vytvořit</a>
                
                
                <h1>Spravna_odpoved</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/KZTM.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/spravna_odpoved">Vytvořit</a>
                
                
                 <h1>Multi test</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/RYRg.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/Multi_test">Vytvořit</a>
                
                <h1>Maraton</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/Bs03.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/maraton">Vytvořit</a>
            </div>
        </div>

        <!-- Pravý sloupec -->
        <div class="col-lg-6 col-md-12">
            <div class="test-category">
               <h1>Pexeso</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/dsuS.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/pexeso">Vytvořit</a>


            <h1>Oběšenec</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/SIUh.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/obesenec">Vytvořit</a>

            <h1>Labyrint</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/28K4.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/Labyrint">Vytvořit</a>

            <h1>Dveře hra</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/m61g.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/dvere_hra">Vytvořit</a>

            <h1>Flappy bird</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/6o89.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/flappy_bird">Vytvořit</a>

            <h1>Lov pokladů</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/Z4pc.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/lov_pokladu">Vytvořit</a>

            <h1>Snake</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/LmCb.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/snake">Vytvořit</a>

            <h1>Kámen, nůžky, papír</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/f0eA.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/vytvor_test">Vytvořit</a>

            <h1>Klikačka</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/4UWz.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/klikaci_hra/">Vytvořit</a>

        <h1>Tetris</h1>
            <h2>Účel</h2>
            <p>Tvorba testu za pomocí zadání otázky a odpovědi.</p>
            <h2>Možnosti</h2>
            <p>Jednoduché přidání otázka a odpovědí, kde bude muset dělající testu odpovědět.</p>
            <p>- Přidat otázku a odpovědi</p>
            <p>- Nastavit počet bodů, časovač, typ formátu a vyhodnocení</p>
            <p>- Uložit do počítače, aplikace nebo zveřejnit</p>
            <img src="{% static 'obrazky/kizE.png' %}" alt="Test Rozhodovačka">
            <a class="button" href="/tetris">Vytvořit</a>
        </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
