<!-- Šablona dědí základní šablonu "base.html" -->
{% extends "base.html" %}

<!-- Do bloku content vsuneme následující kód  -->
{% block content %}
<div class="row mb-3">
</div>
<div class="row">
    {% for material in materials %}
    <div class="col-md-4 mb-2">
        <div class="card h-100">
            {% if material.logo %}
            <a href="{% url 'vyukovematerialy' %}">
                <img class="card-img-top" src="{{ material.logo.url }}" alt="{{ material.title }}">
            </a>
            {% endif %}
            <div class="card-body">
                <h4 class="card-title text-center text-info">{{ material.title }} ({{ material.release_date|date:"Y" }})</h4>
                <p>Hodnocení: <span class="badge badge-dark">{{ material.rate }}</span></p>
                <p>Doba trvání: {{ material.runtime }} hodin</p>
                <p class="card-text">
                    {% for predmet in material.predmet.all %}
                    <a href="#" class="btn btn-light">{{ predmet.name }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
